

  $mycolor:  #9CCC65 !default;

  $primary: $mycolor !default;


  // This table defines the theme colors (variant names)
  $theme-colors: () !default;
  $theme-colors: map-merge(
    (
      'primary': $primary,

    ),
    $theme-colors
  );
  // ...
  @import '~bootstrap/scss/bootstrap.scss';
  @import '~bootstrap-vue/src/index.scss';
